<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLGNWzG1E7jCv5sMy5ZkevTWYlhip-zBI</string>
	<key>GCM_SENDER_ID</key>
	<string>933801463796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nodelabs.sinflix</string>
	<key>PROJECT_ID</key>
	<string>nodelabssinflix</string>
	<key>STORAGE_BUCKET</key>
	<string>nodelabssinflix.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933801463796:ios:20c78084ef5f408f27b3a1</string>
</dict>
</plist>